@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: flex;
    background-image: url(./images/predict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.inputs{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.pre{
    position: absolute;
    left: 15%;
    text-transform: capitalize;
}
.button{
    position: absolute;
    left: 18%;
    padding:5px 10px;
}
.content{
    margin-bottom: 50px;
    color: white;
    font-size:5em;
}
.APP{
    color: aliceblue;
}